$mobile-s: 375px;
$mobile-mid: 425px;
$mobile-max: 768px;
$tablet-s: 769px;
$desktop: 1366px;


//Font sizes
$font-size-xsmall: 10px;
$font-size-small: 12px;
$font-size-medium: 14px;
$font-size-large: 16px;
$font-size-xlarge: 20px;

//$background-color: #0e1826;


//$main-color:#255ccc;

//$button-color: #245dd1;
$font-size-small: 8px;
$font-size-medium: 12px;
$font-size-large: 16px;


$font-weight-light: 200;
$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 800;
$medium-warning-color:#e8a11c;
$warning-color:#f74e48;
$flow-color:#4cd494;
$packet-color:#ae74d4;
$text-color: #ffffff;


:root{

    --background-color: #ffffff;
    --main-color:#255ccc;
    --button-color: #245dd1;
}
[data-theme="dark"] {
    $background-color: #0e1826;
    $main-color:#255ccc;
    $button-color: #245dd1;
}
