$mobile-s: 375px;
$mobile-mid: 425px;
$mobile-max: 768px;
$tablet-s: 769px;
$desktop: 1366px;


//Font sizes
$font-size-xsmall: 10px;
$font-size-small: 12px;
$font-size-medium: 14px;
$font-size-large: 16px;
$font-size-xlarge: 20px;

$font-weight-light: 200;
$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 800;
$medium-warning-color: #e8a11c;
$warning-color: #f74e48;
$flow-color: #4cd494;
$packet-color: #ae74d4;

:root {
  --background-color: #ffffff;
  --text-color: #0e1826;
  --main-color: #255ccc;
  --button-color: #245dd1;
  --button-border-color: #245dd1;
  --button-text-color: #ffffff;
  --control-border-color: #d0d7de;
  --table-row-overload-color: #ff944d;
  --table-row-worm-color: #ff6666;
  --table-row-p2mp-color: #66ccff;
  --table-row-virus-color: #cc0000;
  --table-row-none-color: #e6ffed;
  --table-row-default-color: #f0f0f0;
  --chart-grid-color: #d0d7de;
  --chart-tooltip-background: #ffffff;
  --chart-tooltip-text-color: #0e1826;
  --chart-line-color: #255ccc;
  --chart-bar-default: #255ccc;
  --chart-bar-ddos: #f74e48;
  --chart-bar-overload: #ff944d;
  --chart-bar-scan: #e8a11c;
  --chart-bar-worm: #ff6666;
  --chart-bar-p2mp: #66ccff;
  --chart-bar-flow: #ae74d4;
  --chart-bar-virus: #cc0000;
  --chart-bar-none: #e6ffed;
  --chart-bar-other: #f0f0f0;
}

[data-theme="dark"] {
  --background-color: #0e1826;
  --text-color: #ffffff;
  --main-color: #255ccc;
  --button-color: #245dd1;
  --button-border-color: #245dd1;
  --button-text-color: #ffffff;
  --control-border-color: #4d6482;
  --table-row-overload-color: #ff944d;
  --table-row-worm-color: #ff6666;
  --table-row-p2mp-color: #66ccff;
  --table-row-virus-color: #cc0000;
  --table-row-none-color: #e6ffed;
  --table-row-default-color: #f0f0f0;
  --chart-grid-color: #4d6482;
  --chart-tooltip-background: #0e1826;
  --chart-tooltip-text-color: #66ccff;
  --chart-line-color: #66ccff;
  --chart-bar-default: #66ccff;
  --chart-bar-ddos: #f74e48;
  --chart-bar-overload: #ff944d;
  --chart-bar-scan: #e8a11c;
  --chart-bar-worm: #ff6666;
  --chart-bar-p2mp: #66ccff;
  --chart-bar-flow: #ae74d4;
  --chart-bar-virus: #cc0000;
  --chart-bar-none: #4d6482;
  --chart-bar-other: #255ccc;
}
