@use "../styles/vars.scss" as *;

.analyzed-files-page {
  border: 1px solid var(--control-border-color);
  border-radius: 12px;
  padding: 20px;
  background-color: var(--background-color-secondary);
  color: var(--text-color);

  h2 {
    margin: 0 0 10px;
    font-size: $font-size-xlarge;
  }

  &__lead {
    margin: 0 0 16px;
    font-size: $font-size-medium;
    color: var(--text-color);
    opacity: 0.85;
  }
}
